version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12

    steps:
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}

      - checkout

      - run: go test -v .

      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
